p.s-title{
    color: aliceblue !important;
}
.s-price{
    color: aliceblue !important;
}
.s-quantity{
    color: aliceblue;
}
.s-title{
    color: aliceblue;
}
.cart-image-container{
    padding-top: 15px;
}