.navbar-container {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:bisque;
  color: rgb(0, 0, 0);
}

.links {
  display: flex;
  margin-left: auto;
}

.nav.link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 20px;
}

.nav-link:hover {
  color:chocolate;
}

.logout-button {
  background-color:red;
  border: none;
  margin-left: 20px;
  padding: 5px 5px;
  color: white;
  cursor: pointer;
}