.product {
  display: flexbox;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
}

.product-image {
  margin: auto;
  display: grid;
  width: 300px;
  height: 300px;
}
.product-content{
  background-color:antiquewhite;
}
.product-title{
background-color: antiquewhite;
}
.product-price{
background-color: antiquewhite;
}

.product-description{
background-color: antiquewhite;
}

.product-button{
background-color:brown;
}

.view-item-button{
background-color: brown;
}
div{
  display: -moz-grid-group
}
body{
  background-color:#444a5c;
}
