.product {
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
}

.product-image {
  margin: auto;
  display: block;
  width: 300px;
  height: 300px;
}
.product-content{
  background-color:aqua;
}
.product-title{
background-color: antiquewhite;
}
.product-price{
background-color: aqua;
}

.product-description{
background-color: antiquewhite;
}

.product-button{
background-color:brown;
}

.view-item-button{
background-color: brown;
}