.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff; 
  }
  
  .form {
    margin-bottom: 15px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #2c2c2c; 
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }